{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">

                <div class="card-image waves-effect waves-block waves-light">
                    <img class="img-responsive" src="{{post.picture.url}}" alt="Card image cap" width="100%;"
                        height="400px;">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{post.projectname|title}}
                    <p class="card-title">{{post.projectinfo}}
   </p>
                     <p class="card-footer " ><img class="rounded-circle" src="{{post.user.profile.profile_picture.url}}"  height ='30px' width='30px' alt="">
        {{post.user.username|title}} <span style="float:right">{{post.posted|date}}</span>
                </p>
                  <a class="nav-item"> <button class="btn btn-info" data-toggle="modal" data-target="#rate"  >
        Rate this Project
      </button></a>
                </div>
                            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="modal fade" id="rate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-sm btn-primary">Rate</button>
                </form>
                 {% for rate in post.rate.all %}
                    {% if forloop.counter is post.rate.all.count %}
                    <a class="btn btn-info btn-sm" ><h5>{{ rate.score }}</h5>
                        <span class="sc">Average Score</span>
                    </a>
                    <a class="btn btn-outline-success btn-sm" ><h5>{{ rate.designaverage }}</h5>
                        <span class="sc">Design Average</span>
                    </a>
                    <a class="btn btn-outline-primary btn-sm" id="u"><h5>{{ rate.usabilityaverage }}</h5>
                        <span class="sc">Usability Average</span>
                    </a>
                    <a class="btn btn-outline-danger btn-sm" id="c"><h5>{{ rate.contentaverage }}</h5>
                        <span class="sc">Content Average</span>
                    </a>
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}