{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static%}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-4">
        {%if user.profile.profile_picture%}
          <img class="rounded-circle  d-block mx-auto" height='250px' width='250px' src="{{ user.profile.profile_picture.url }}">
         {%else%}
         <img class="rounded-circle" src="{% static 'images/image.jpg' %}" height='250px' width='250px'  alt="">
         {% endif%}
            
            <h5 class="text-center mt-3">{{user.username}}</h5>
            <p class="text-center"> {{user.email}}</p>
            <p class="text-center"> {{user.profile.bio}}</p>
            <p class="text-center"> {{user.profile.location}}</p>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>


{% endblock %}
